/* Default styles for all devices */
body {
    background-color: #f0f0f0;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

.mobile {
    display: none;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-edit {
    background-color: aquamarine;
    color: #222;
}

.btn-delete {
    background-color: red;
    color: #fff;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Media query for devices with a maximum width of 767px (typical for mobile devices) */
@media only screen and (max-width: 767px) {

    /* Styles for mobile devices */
    body {
        background-color: #000;
        color: #e3e3e3;
    }

    .mobile {
        display: block;

        h1 {
            text-align: center;
        }

        .btn-block {
            display: block;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            margin: 5px 0px;
            &:hover {
                background-color: aqua;
                color: #222;
                font-weight: bold;
                cursor: pointer;
            }
        }

        #searchContact {
            width: 100%;
            border: none;
            padding: 1rem .7rem;
        }

        .contact-lists {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin: 1em 0;

            .contact-item {
                display: flex;
                gap: .8em;

                .contact-avatar {
                    width: 5em;
                    height: 5em;

                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }

                .contact-preview {
                    padding-top: 1em;

                    strong {
                        font-size: 1.3em;
                        line-height: 0%;
                    }

                    p {
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1.2em;
                        line-height: 0%;
                    }
                }

                &:hover {
                    cursor: pointer;
                    color: #ababab;
                    border-radius: 5px;
                }
            }
        }

        .addNewContact, .backButton {
            padding: 2em 2.4em;
            border: none;
            border-radius: 50%;
            font-weight: bolder;
            position: absolute;
            bottom: 2em;
            right: 2em;
            cursor: pointer;
            background-color: #f0f0f0;
            text-decoration: none;

            &:hover {
                background-color: aqua;
                color: white;
            }
        }

        .newContactForm {
            display: flex;
            flex-direction: column;
            
            label {
                display: inherit;
                flex-direction: inherit;
                row-gap: 5px;
                margin-bottom: 5px;

                span {
                    font-weight: bold;
                    font-style: italic;
                }

                .form-input {
                    padding: 5px 10px;
                }
            }
        }
    }

    .web {
        display: none;
    }
}

/* Media query for devices in portrait orientation */
@media only screen and (max-width: 767px) and (orientation: portrait) {

    /* Styles for mobile devices in portrait mode */
    .mobile {
        display: block;
    }

    .web {
        display: none;
    }
}